/*#232C33 -> zwart*/
/*#FDFFFF -> wit*/
/*#E01A4F -> rood*/
/*#3E92CC -> blauw*/
/*#417B5A -> groen*/

* {
    box-sizing: border-box;
}

body {
    font-family: Inter, sans-serif;
    background-color: #232C33;
    color: #FDFFFF;
    margin: 0;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

main .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    height: 25%;
}

.logo {
    font-size: 2em;
    margin: 0;
}

.logo span {
    background-image: linear-gradient(#E01A4F, #3E92CC);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

button {
    border-radius: 44px;
    width: 150px;
    height: 30px;
    border: none;
}

.btns {
    height: 22%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}

.btns button {
    background-color: #3E92CC;
    color: #FDFFFF;
    transition: background-color 0.3s ease-out;
    cursor: pointer; /* Add this line to make the buttons clickable */
}

.btns button:hover {
    background-color: #15B097;
}

main .formRegister {
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

main .formRegister .login-field{
    margin: 15px;
    height: 5%;
}

main .formRegister .login-field .input-field {
    margin-right: 5px;
}

.content {
    max-width: 800px;
    margin: 20px auto;
    padding: 0 20px;
}

hr{
    background-color: #3E92CC;
    margin-left: 20px;
    width: 70%;
    height: 4px;
    border: none;
    border-radius: 44px;
}

.infoText{
    width: 70%;
    margin-left: 20px;
    font-size: 20px;
}

/*Team pagina html*/
.container{
    width: 98%;
    margin-top: 30px;
}

.team-member {
    background-color: white;
    overflow: auto;
    padding: 10px;
    float: left;
    margin: 10px;
    color: #3E92CC;
    border-radius: 5rem;
    width: calc(90%/ 4);
    height: 450px;

}

.team-member:hover{
    color: white;
    background-color: #3E92CC;
}

.team-member img{
    width: 205px;
    height: 199px;
    margin-left: 20px;
    border-radius: 5rem;
}

.team-memberlast {
    border-right: none;
}


